option_settings:
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: Xmx
    value: 1024m

  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: Xms
    value: 1024m

  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: JVM Options
    value: -server -noverify -XX:+UseParallelGC -Djava.net.preferIPv4Stack=true -Dsun.reflect.inflationThreshold=100000 -Duser.timezone=America/Sao_Paulo -Dfile.encoding=UTF8 -javaagent:/usr/share/tomcat8/webapps/ROOT/WEB-INF/lib/newrelic.jar
